@charset "UTF-8";

@media screen and (min-width: 768px){
    
    header > nav#itens {
        display: block;
        margin: auto;
    }

    header > i#menu{
        display: none;
    }

    main {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-content: center;
    }
    
    main > section.main-title {
        width: 396px;
        height: 231px;
        margin-top: 0px;
    }

    main > section.main-title > p {
        font-size: 30px;
    }

    main > section.main-title > h1 {
        font-size: 60px;
    }

    main > section.main-image > div {
        width: 230px;
        height: 230px;
        border-radius: 120px;
    }

    main > section.main-social {
        padding-left: 30px;
        margin-top: 40px;
        width: 357px;
    }

    main > section.main-text {
        margin-top: 40px;
        margin-bottom: 0px;
        width: 360px;
    }

    main > section.main-text > p {
        font-size: 20px;
        width: 192px;
    }

    main > section.main-text > i {
        font-size: 22px;
    }

    main > section.main-text > a {
        font-size: 22px;
        padding: 10px;
    }
}
