@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --cor1: #8F3DBB;
    --cor2: #774791;
    --cor3: #A125E5;
    --cor4: #5A4366;
    --cor5: #38313C;
    --cor6: #302933;

    --fonte-padrao: 'Courier Prime';
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: rgb(230, 230, 230);
    font-family: var(--fonte-padrao);
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
    background-image: linear-gradient(to right, var(--cor5), var(--cor2) );
}

header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    height: 6vh;
    background-color: rgba(128, 128, 128, 0.096);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.068);
}

header > div.logo-menu {
    user-select: none;
    margin-left: 20px;
    font-size: 1.4em;
}

header > div.logo-menu > a {
    text-decoration: none;
}

header > i {
    user-select: none;
    cursor: pointer;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

header > nav#itens {
    display: none;
}

header > nav#itens > a {
    text-decoration: none;
    margin-right: 10px;
}

header > nav#itens > a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    height: 94vh;
}

main > section.main-title {
    margin-top: 70px;
    width: 320px;
    height: 180px;
}

main > section.main-title > p {
    font-size: 24px;
}

main > section.main-title > h1 {
    font-size: 45px;
}

main > section.main-image > div {
    background: url(../imagens/gui-trabalho.PNG);
    background-size: cover;
    border-radius: 75px;
    width: 150px;
    height: 150px;
    border: 1px solid white;
}

main > section.main-social {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    width: 300px;
}

main > section.main-social > nav > a > img {
    padding: 4px;
    width: 40px;
    height: 40px;
}

main > section.main-text {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    height: 80px;
    width: 320px;
    margin-bottom: 60px;
}

main > section.main-text > p {
    font-size: 16px;
    width: 160px;
}

main > section.main-text > i {
    font-size: 18px;
}

main > section.main-text > a {
    font-size: 20px;
    padding: 8px;
    border: 1px solid white;
    background-color: var(--cor5);
    text-decoration: none;
    border-radius: 20px;
    margin-left: 15px;
}

main > section.main-text > a:hover {
    background-color: white;
    color: var(--cor6);
    transition: .6s;
}

main > section.main-image > div {
    
} 